<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{plugin:plugin-friends:modules/layout :: html(content = ~{::content},head = ~{::head})}">
<th:block th:fragment="head">
<head
    th:replace="~{plugin:plugin-friends:modules/head::head('博客审核结果 - 朋友圈', '博客收录申请', '博客收录申请。')}">
</head>
</th:block>
<th:block th:fragment="content">
    <main class="main">
        <article
            th:replace="~{plugin:plugin-friends:modules/header/header_info::header_info('这里会列出所有已提交的博客与审核结果，如果您的博客很遗憾被驳回了，请按照错误提示修改后重新提交！')}">
        </article>
        <header class="post-header">
            <h3 class="post-title">
                博客审核结果
            </h3>
        </header>
        <div class="blog-requests">
            <div class="requests-container">
                <table style="display: table; table-layout: fixed;">
                    <thead>
                        <tr>
                            <td width="35%"><span>博客名称</span></td>
                            <td width="35%"><span>博主邮箱</span></td>
                            <td width="20%"><span>提交时间</span></td>
                            <td width="10%"><span>审核状态</span></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="blogRequest, iterstat: ${blogRequests.items}">
                            <td width="35%">
                                <p><a th:href="'/blog-requests/' + ${blogRequest.metadata.name}"
                                        th:text="${blogRequest.spec.displayName}"></a></p>
                            </td>

                            <td width="35%" th:with="email = ${blogRequest.spec.adminEmail}">
                                <p th:text="${email.substring(0, 1)}+'****@'+${#strings.substringAfter(email,'@')}"></p>
                            </td>
                            <td width="20%">
                                <p th:text="${#dates.format(blogRequest.metadata.creationTimestamp, 'yyyy/MM/dd')}"></p>
                            </td>
                            <td width="10%">
                                <p th:if="${#strings.equals(blogRequest.spec.submittedType, 'APPROVED') || #strings.equals(blogRequest.spec.submittedType, 'SYSTEM_CHECK_VALID')}">
                                    <a th:href="'/blogs/' + ${blogRequest.metadata.name}">通过</a>
                                </p>
                                <p th:if="${#strings.equals(blogRequest.spec.submittedType, 'REJECTED') ||
                                #strings.equals(blogRequest.spec.submittedType, 'SYSTEM_CHECK_INVALID') ||
                                #strings.equals(blogRequest.spec.submittedType, 'SUBMITTED')}">未通过</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <footer th:replace="~{plugin:plugin-friends:modules/footer/page-footer::page-footer(${blogRequests},'/blog-requests')}">
        </footer>
    </main>
</th:block>

</html>