@media (prefers-color-scheme: dark) {
  .color-scheme-auto,
  [data-color-scheme='auto'] friends-rss {
    color-scheme: dark;
    --friends-rss-title-color: #f4f4f5;
    --friends-rss-description-color: #a1a1aa;
  }
}

.color-scheme-dark,
.dark,
[data-color-scheme='dark'] friends-rss {
    color-scheme: dark;
    --friends-rss-title-color: #f4f4f5;
    --friends-rss-description-color: #a1a1aa;
}
