.thyuu-card p {
  font-size: 14px;
  line-height: 1.5;
  margin: 1em 0;
}
:is(.thyuu-card, .thyuu-card-menu, .thyuu-paginate) a {
  color: inherit;
  text-decoration: none;
}
.thyuu-card {
  display: grid;
  grid: auto / repeat(auto-fill, minmax(min(25em, 100%), 1fr));
  gap: 1em;
  margin: 1em 0;
  width: 100%;
}
.thyuu-card.column {
  grid: auto / auto;
}
.thyuu-card li {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1em;
  gap: 1em;
  margin: 0;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
  border-radius: 1em;
  overflow: hidden;
}
.thyuu-card.column li > * {
  flex: 1;
  min-width: min(20em, 100%);
}
.thyuu-card header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1em .5em;
  width: 100%;
}
.thyuu-card header > *:last-child {
  margin: 0 0 0 auto;
  font-size: 12px;
  opacity: .3;
}
.thyuu-card header span {
  font-size: 14px;
  color: #3c434a;
}
.thyuu-card header img {
  border-radius: 50%;
}
.thyuu-card article {
  display: flex;
  flex-wrap: wrap;
  gap: 1em .5em;
}
.thyuu-card article > * {
  margin: 0;
  display: -webkit-inline-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  text-overflow: ellipsis;
  overflow: hidden;
}
.thyuu-card article h4 {
  color: #3c434a;
  font-size: 14px;
  font-weight: 600;
}
.thyuu-card footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: .5em;
  width: 100%;
}
.thyuu-card footer time {
  flex: 1;
  font-size: 12px;
  opacity: .5;
  margin: 0 auto 0 0;
}
.thyuu-card .button {
  --btn-color: 200deg 60% 40%;
  display: flex;
  gap: .5em;
  color: hsl(var(--btn-color));
  border: 0;
  font-size: 12px;
  height: 2.5em;
  min-height: 2.5em;
  line-height: 1.5em;
  padding: .5em 1em;
  margin: 0;
  transition: .3s;
}
.thyuu-card .button:hover {
  color: white;
  background: hsl(var(--btn-color, 200deg 60% 40%));
}
.thyuu-card .button.im {
  --btn-color: 0deg 60% 40%;
}
.thyuu-card .button, .thyuu-card .button-secondary {
  border-radius: 2em;
  background: rgb(255 255 255 / var(--tw-bg-opacity));
  vertical-align: top;
}

.contact-friends-rss-container {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow, 0 0 #0000);
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(229 231 235 / var(--tw-ring-opacity));
  border-radius: 4px;
  overflow: hidden;
  margin-top: .75em
}

.contact-friends-rss-container--selected {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow, 0 0 #0000);
  --tw-ring-color: inherit
}

.contact-friends-rss-nav {
  border-bottom: 1px #e7e7e7 solid;
  display: flex;
  padding: 5px 10px;
  align-items: center
}

.contact-friends-rss-nav-start {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px
}

.contact-friends-rss-nav-end {
  justify-content: flex-end
}

.contact-friends-rss-preview {
  padding: 5px 10px
}
.halo-rich-text-editor .editor-content .ProseMirror .block-rss {
  list-style: none;
  padding: 0;
}
ul.block-rss.block-rss {
  box-sizing: border-box;
}
ul.block-rss.is-grid {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

ul.block-rss.is-grid li {
  margin: 0 1em 1em 0;
  width: 100%
}

@media (min-width: 600px) {
  ul.block-rss.columns-2 li {
    width:calc(50% - 1em)
  }
}

.friends-rss-editor-block__actions-separator {
  @apply h-5 bg-slate-200 mx-1.5;
  width: 1px;
}
